<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
	
		<mapper resource="com/czg/common/common_SqlMap.xml" />
		
		<mapper resource="com/czg/dao/mapper/ChanPinMapper.xml" />
		<mapper resource="com/czg/dao/mapper/AdminUserMapper.xml" />
	</mappers> 
</configuration>		
			